/* font-family: 'JetBrainsMono-Regular.ttf' */
@font-face {
  font-family: 'JetbrainsMono';
  src: url('../../static/fonts/JetBrainsMono-Regular.ttf');
  src: url('../../static/fonts/JetBrainsMono-Regular.ttf?#iefix')format('embedded-opentype'),
    url('../../static/fonts/JetBrainsMono-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

/* font-family: 'JetBrainsMono-Bold.ttf' */
@font-face {
  font-family: 'JetbrainsMono';
  src: url('../../static/fonts/JetBrainsMono-Bold.ttf');
  src: url('../../static/fonts/JetBrainsMono-Bold.ttf?#iefix')format('embedded-opentype'),
    url('../../static/fonts/JetBrainsMono-Bold.ttf') format('truetype');
  font-style: bolder;
  font-weight: 700;
}

/* font-family: 'JetBrainsMono-Italic.ttf' */
@font-face {
  font-family: 'JetbrainsMono';
  src: url('../../static/fonts/JetBrainsMono-Italic.ttf');
  src: url('../../static/fonts/JetBrainsMono-Italic.ttf?#iefix')format('embedded-opentype'),
    url('../../static/fonts/JetBrainsMono-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 400;
}
