@font-face {
  font-family: 'icomoon';
  src:  url('./icomoon.eot?19toi6');
  src:  url('./icomoon.eot?19toi6#iefix') format('embedded-opentype'),
    url('./icomoon.ttf?19toi6') format('truetype'),
    url('./icomoon.woff?19toi6') format('woff'),
    url('./icomoon.svg?19toi6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pin:before {
  content: "\e90a";
}
.icon-mail:before {
  content: "\e903";
}
.icon-phone:before {
  content: "\e906";
}
.icon-filter:before {
  content: "\e904";
}
.icon-spinner:before {
  content: "\e905";
}
.icon-logo:before {
  content: "\e902";
}
.icon-angellist:before {
  content: "\e907";
}
.icon-github:before {
  content: "\e909";
}
.icon-itch:before {
  content: "\e900";
}
.icon-linkedin:before {
  content: "\e901";
}
