@font-face {
  font-family: 'icomoon';
  src:  url('./icomoon.eot?zf65ai');
  src:  url('./icomoon.eot?zf65ai#iefix') format('embedded-opentype'),
    url('./icomoon.ttf?zf65ai') format('truetype'),
    url('./icomoon.woff?zf65ai') format('woff'),
    url('./icomoon.svg?zf65ai#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-filter:before {
  content: "\e904";
}
.icon-spinner:before {
  content: "\e905";
}
.icon-itch:before {
  content: "\e900";
}
.icon-linkedin:before {
  content: "\e901";
}
.icon-dribbble:before {
  content: "\e902";
}
.icon-github-alt:before {
  content: "\e903";
}
